body {
    background-color: #ecf4c3;
}

#intro {
    margin-top: 1rem;
}

#intro-left {
    width: 50%;
    padding: 0;
    display: inline-block;
    height: 100%;
}

#intro-left img {
    max-height: 100%;
    display: block;
}

#intro-right {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-family: "Lora", serif;
    color: #007f5f;
}

.home{
    padding-top: 5rem;
}

label {
    font-size: 1.5rem;
}

.form_container {
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

label {
    font-family: "Ubuntu", sans-serif;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #246b40; /* dark green */
}

input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

input[type="submit"] {
    background-color: #246b40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #3e8e5e;
}